{% extends 'base.html' %}

{% block title %}Code| {% endblock title %}



{% block body %}
<div class="head bg-light">
<h1 class="my-1 text-center  text-decoration-underline" style="color: purple">CheatSheets!</h1>
</div>



  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
              <img src="../static/html.jpg" width="100%" height="200px">
                
                <div class="card-body">
                  <h3 class="text-center">HTML-5</h3>
                  <p class="text-center"><b>Hyper Text Markup Language</b></p>
                  <p class="text-center"><b>MarkUp Language</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" ><a href="https://www.codewithharry.com/blogpost/html-cheatsheet" target=”_blank”>View</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/python.jpg">

                <div class="card-body">
                  <h3 class="text-center">PYTHON</h3>
                  <p class="text-center"><b>The most powerful programming Language</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/python-cheatsheet" target=”_blank”>View</a></button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/java.jpg">

                <div class="card-body">
                  <h3 class="text-center">JAVA</h3>
                  <p class="text-center"><b>
                    Java is a high-level, class-based, 
                    object-oriented programming language.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/java-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/c.jpg">

                <div class="card-body">
                  <h3 class="text-center">C-Language</h3>
                  <p class="text-center"><b>
                    The C programming language is a computer programming language 
                    that was developed to do system programming for the operating 
                    system UNIX and is an imperative programming language. C was 
                    developed in the early 1970s by Ken Thompson and Dennis Ritchie 
                    at Bell Labs.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/C-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/django.jpg">

                <div class="card-body">
                  <h3 class="text-center">Django</h3>
                  <p class="text-center"><b>
                    Django is a high-level Python web framework that enables rapid 
                    development of secure and maintainable websites. 
                    Django helps developers avoid many common security mistakes by 
                    providing a framework that has been engineered to 
                    "do the right things" to protect the website automatically.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/django-cheatsheet" target=”_blank”>View</a></button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/css.jpg">

                <div class="card-body">
                  <h3 class="text-center">CASSCADING STYLE SHEETS</h3>
                  <p class="text-center"><b>
                    CSS stands for Cascading Style Sheets. It is the language for describing the presentation of Web pages, including colours, layout, and fonts, thus making our web pages presentable to the users. ... It is independent of HTML and can be used with any XML-based markup language.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/C-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/javasc.jpg">

                <div class="card-body">
                  <h3 class="text-center">JavaScript</h3>
                  <p class="text-center"><b>
                    JavaScript is a text-based programming language used both on 
                    the client-side and server-side that allows you to make web 
                    pages interactive. Where HTML and CSS are languages that give 
                    structure and style to web pages, JavaScript gives web pages 
                    interactive elements that engage a user.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/javascript-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>



            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/php.jpg">

                <div class="card-body">
                  <h3 class="text-center">PHP</h3>
                  <p class="text-center"><b>
                  PHP is a server side scripting language that is embedded in HTML. 
                  It is used to manage dynamic content, databases, session tracking, 
                  even build entire e-commerce sites. It is integrated with a number 
                  of popular databases, including MySQL, PostgreSQL, Oracle, Sybase, 
                  Informix, and Microsoft SQL Server.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/php-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


          <div class="col">
              <div class="card shadow-sm">
                <img src="../static/c++.jpg">

                <div class="card-body">
                  <h3 class="text-center">C++</h3>
                  <p class="text-center"><b>
                    C++ is an object-oriented programming (OOP) language that is viewed by
                    many as the best language for creating large-scale applications. 
                    C++ is a superset of the C language. A related programming language, Java, 
                    is based on C++ but optimized for the distribution of program objects in a
                      network such as the Internet.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/cpp-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img src="../static/mysql.jpg">

                <div class="card-body">
                  <h3 class="text-center">MySQL</h3>
                  <p class="text-center"><b>
                    MySQL is a relational database management system based on SQL – 
                    Structured Query Language. The application is used for a wide 
                    range of purposes, including data warehousing, e-commerce, and 
                    logging applications. The most common use for mySQL however, is 
                    for the purpose of a web database.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/mysql-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


          <div class="col">
              <div class="card shadow-sm">
                <img src="../static/flask.jpg">

                <div class="card-body">
                  <h3 class="text-center">Flask</h3>
                  <p class="text-center"><b>
                    Flask is a micro web framework written in Python. 
                    It is classified as a microframework because it does 
                    not require particular tools or libraries. It has no 
                    database abstraction layer, form validation, or any other 
                    components where pre-existing third-party libraries provide 
                    common functions.
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/flask-cheatsheet" target=”_blank”>View</a></button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
  </div>

{% endblock body %}