{% extends 'base.html' %}

{% block title %}Home |{% endblock title %}

{% block body %}

<div class="container-fluid px-0" >
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../static/panel1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="../static/panel-2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="../static/panel-3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>

<div class="album py-5 bg-dark">


    <div class="container">
      <h1 class="my-1 text-center  text-decoration-underline" style="color: green">Dashboard- find your Favs!!</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="../static/html.jpg" width="100%" height="200px">
            
            <div class="card-body">
              <h3 class="text-center">HTML-5</h3>
              <p class="text-center"><b>Hyper Text Markup Language</b></p>
              <p class="text-center"><b>MarkUp Language</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" ><a href="https://www.codewithharry.com/blogpost/html-cheatsheet" target=”_blank”>View</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/python.jpg">

            <div class="card-body">
              <h3 class="text-center">PYTHON</h3>
              <p class="text-center"><b>The most powerful programming Language</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/python-cheatsheet" target=”_blank”>View</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/java.jpg">

            <div class="card-body">
              <h3 class="text-center">JAVA</h3>
              <p class="text-center"><b>
                Java is a high-level, class-based, 
                object-oriented programming language.
              </b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.codewithharry.com/blogpost/java-cheatsheet" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/math.jpg" width="100%" height="200px">

            <div class="card-body">
              <h3 class="text-center">Math-B</h3>
              <p class="text-center"><b>Past Question Papers</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.shawonnotes.com/index.php/edexcel-past-papers/mathematics-b/international-gcse/" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>


         <div class="col">
          <div class="card shadow-sm">
            <img src="../static/pm.jpg" width="100%" height="200px">

            <div class="card-body">
              <h3 class="text-center">Pure-Math</h3>
              <p class="text-center"><b>Past Question Papers</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://drive.google.com/drive/u/0/mobile/folders/1tZoT787R1aqB7tIn0HbvSdB0-kmu7Liy?usp=drive_open" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/IM-1.png">

            <div class="card-body">
              <h3 class="text-center">Iron Man-1</h3>
              <p class="text-center"><b>a fictional character portrayed by Robert Downey Jr. </b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://dubox.com/s/1DXLLxjqgqfPVUR0BL2rF9g" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/IM-2.jpg">

            <div class="card-body">
              <h3 class="text-center">Avengers Endgame</h3>
              <p class="text-center"><b>EndGame!</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://dubox.com/s/1BbMU5x79TzykdEB11Bncjw" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/IM-3.jpg">

            <div class="card-body">
              <h3 class="text-center">Learn Fl studio</h3>
              <p class="text-center"><b>Dance On the Floor!</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://dubox.com/s/1rGKmLKpPkseRVwGcCzlubQ" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

</div>

{% endblock body %}
