{% extends 'base.html' %}

{% block title %}Movie| {% endblock title %}

{% block body %}


<div class="head bg-light">
<h1 class="my-1 text-center  text-decoration-underline" style="color: purple">Movies</h1>
</div>

 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-0 py-0 ">
        

        {% for Movie in allmovies %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?{{Movie.image}}">

                <div class="card-body">
                  <h3 class="text-center">{{Movie.head}}</h3>
                  ---------------------------------------------
                  <h3 class="text-center">{{Movie.strap}}</h3>
                  <p class="text-center"><b>
                    {{Movie.desc}}
                  </b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{Movie.link}}" target=”_blank”>View</a></button>
                      
                    </div>
                    <small class="text-muted">Updated: {{Movie.date}}</small>
                    
                  </div>
                </div>
              </div>
          </div>
          {% endfor %}



        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/IM-1.png">

            <div class="card-body">
              <h3 class="text-center">Iron Man-1</h3>
              <p class="text-center"><b>a fictional character portrayed by Robert Downey Jr. </b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://dubox.com/s/1DXLLxjqgqfPVUR0BL2rF9g" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/IM-2.jpg">

            <div class="card-body">
              <h3 class="text-center">Avengers Endgame</h3>
              <p class="text-center"><b>EndGame!</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://dubox.com/s/1BbMU5x79TzykdEB11Bncjw" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/IM-3.jpg">

            <div class="card-body">
              <h3 class="text-center">Learn Fl studio</h3>
              <p class="text-center"><b>Dance On the Floor!</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://dubox.com/s/1rGKmLKpPkseRVwGcCzlubQ" target=”_blank”>View</a></button>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
</div>

{% endblock body %}